<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="top-div">
    <a href="/" style="text-decoration: none">
      <h1>Study Assistant</h1>
    </a>
    <p id="h1-helper">A site that helps <span class="title_style">you</span> study</p>

    <a class="Main-Links" href="/Pomodoro">My Pomodoro</a>
    <a class="ToDo-Link" href="/ToDoList">My ToDoList</a>
    <a class="Main-Links" href="/Brainstorm">Brainstorm</a>
    <hr class="top-hr">


  </div>
  <div class="container">
    <a class="buttonL" onclick="showSlides(-1)">&#10094;</a>
    <div class="carousel">

      <div class="mySlides">
        <img src="https://cdn.pixabay.com/photo/2015/07/09/22/45/tree-838667_960_720.jpg" alt="tree">
        <br>
        <a href="https://pixabay.com/images/id-838667/">picture source</a>
      </div>

      <div class="mySlides">
        <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/fall-1072821_960_720.jpg" alt="tree">
        <br>
        <a href="https://pixabay.com/images/id-1072823/">picture source</a>
      </div>

      <div class="mySlides">
        <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014_960_720.jpg" alt="tree">
        <br>
        <a href="https://pixabay.com/images/id-276014/">picture source</a>
      </div>
      <div class="mySlides">
        <img src="https://cdn.pixabay.com/photo/2013/08/20/15/47/poppies-174276_960_720.jpg" alt="tree">
        <br>
        <a href="https://pixabay.com/images/id-174276/">picture source</a>
      </div>



      <br>
      <a href="https://www.w3schools.com/howto/howto_js_slideshow.asp">Source: Studied this site</a>
    </div>
    <a class="buttonR" onclick="showSlides(1)">&#10095;</a>
<div class="resources">
    <ol ><strong>Learning Resources</strong>:
      <ul >
        <li><a href="https://lifehacker.com/productivity-101-how-to-use-personal-kanban-to-visuali-1687948640">How to use a KanBan System</a></li>
        <li><a href="https://lifehacker.com/productivity-101-a-primer-to-the-pomodoro-technique-1598992730">How to Use Pomodoro</a></li>
        <li><a href="https://www.coursera.org/learn/learning-how-to-learn">Coursera Learning How to Learn Course</a> </li>


        </li>

      </ul>
    </ol>
</div>


  </div>
  <div class="bottom-div">
    <img class="studypics" src="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_960_720.jpg" alt="StudyTime">
    <img class="studypics" src="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" alt="Math">
    <img class="studypics" src="https://cdn.pixabay.com/photo/2015/07/19/10/00/still-life-851328_960_720.jpg" alt="StudyOld">
    <br />
    <a href="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_960_720.jpg" download>Download</a>
    <a href="https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg" download>Download</a>
    <a href="https://cdn.pixabay.com/photo/2015/07/19/10/00/still-life-851328_960_720.jpg" download>Download</a>
    <br />
    <a href="https://pixabay.com/images/id-3240766/">picture source</a>
    <a href="https://pixabay.com/images/id-1023846/">picture source</a>
    <a href="https://pixabay.com/images/id-851328/">picture source</a>
    <p>CS290 Final Project</p>
    <p>2020 Srikanth Medicherla.</p>
  </div>
  </div>


  <br>

  <script>
    var slideIndex = 0;
    var n = 0
    showSlides(0);
    setInterval(autoSlides, 2500)
    function autoSlides(){
      showSlides(1)
    }
    function showSlides(change) {
      let slides = document.getElementsByClassName("mySlides");
      slideIndex += change;
      if (slideIndex > 3) {
        slideIndex = 0
      };
      if (slideIndex < 0) {
        slideIndex = 3
      };
      for (i = 0; i < slides.length; i++) {
        if (i != slideIndex) {
          slides[i].style.display = "none"
        }
        slides[slideIndex].style.display = "inline-block"
      }

    }

  </script>

</body>

</html>
